body{
    background:#ccc;
    margin: 0;
    padding: 0;
}
nav ul{
    background: pink;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 40px;
}
nav ul li{
     display: inline;
     padding: 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: burlywood;
}
header h1{
    text-align: center;
}
article header p{
    font-style: italic;
}
main {
    padding-left: 20px;
}
.profile-header{
    text-align: center;
}
.profile-container{
    background: #fffdd0;
    width: 1400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
thead{
    color: blueviolet;
}
tbody{
    color: blueviolet ;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}
h3{
    background: pink;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 40px; 
}